@using ContactsControl.Enums;
@model List<UsersModel>
@{
	<!-- Title of page -->
	ViewData["Title"] = "Users List";
}
<!-- Button 'Add new contact' -->
<div class="d-grid gap-1 d-md-flex justify-content-md-start">
	<a class="btn btn-primary" role="button" asp-controller="User" asp-action="Create">
		Add new user
	</a>
</div>

<div class="text-center">

	<!-- Verifica se existe uma mensagem de sucesso armazenada no TempData -->
	@if (TempData["SuccessMessage"] != null)
	{
		<!-- Alerta de sucesso se a mensagem estiver presente -->
		<div class="alert alert-success" role="alert">
			<!-- Botão para fechar o alerta -->
			<button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
			<!-- Exibe o conteúdo da mensagem de sucesso -->
			@TempData["SuccessMessage"]
		</div>
	}

	<!-- Verifica se existe uma mensagem de erro armazenada no TempData -->
	@if(TempData["MessageError"] != null) 
	{
		<!-- Alerta de erro se a mensagem estiver presente -->
		<div class="alert alert-danger" role="alert">
			<!-- Botão para fechar o alerta -->
			<button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
			<!-- Exibe o conteúdo da mensagem de erro -->
			@TempData["MessageError"]
		</div>
	}

	<br />

	<h2 class="display-4">Users list</h2>

	<!-- Create table for show on User list -->
	<table class="table text-center" id="table-users">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Login</th>
				<th scope="col">E-mail address</th>
				<th scope="col">Select profile</th>
				<th scope="col">Date of registration</th>
				<th scope="col"></th>
			</tr>
		</thead>

		<tbody class="table-group-divider text-center">
			<!-- Checks if the model (users list) is not null and contains elements -->
			@if (Model != null && Model.Any())
			{
				<!-- Itera sobre cada User na lista de Users (Model) -->
				foreach (var user in Model)
				{
					<tr>
						<!--Show User ID in first column-->
						<td scope="row">@user.Id</td>

						<!--Show User Name-->
						<td>@user.Name</td>

						<!--Show User Email-->
						<td>@user.Login</td>

						<!--Show User Phone-->
						<td>@user.Email</td>

						<!--Show User Phone-->
						<td>
							@(user.Profile == ContactsControl.Enums.EnumProfile.Admin ? "Admin" : "Default")
						</td>

						<!--Show User registration data-->
						<td>@user.RegistrationDate.ToString("yyyy-MM-dd HH:mm")
						</td>

						<td>
							<div class="btn-group me-2" role="group">
								<!-- Button 'Edit' -->
								<a class="btn btn-primary" asp-route-id="@user.Id" asp-controller="User" asp-action="Edit">
									Edit
								</a>
								
								<!-- Button 'Delete' -->
								<a class="btn btn-danger" asp-route-id="@user.Id" asp-controller="User" asp-action="DeleteConfirmation">
									Delete
								</a>
							</div>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
	<br />
</div>